@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Inter";

  font-display: swap;
  src: url("../fonts/inter-400.woff2") format("woff2"),
    url("../fonts/inter-400.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: "Inter";

  font-display: swap;
  src: url("../fonts/inter-700.woff2") format("woff2"),
    url("../fonts/inter-700.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 900;
  font-family: "Inter";

  font-display: swap;
  src: url("../fonts/inter-900.woff2") format("woff2"),
    url("../fonts/inter-900.woff") format("woff");
}

:root {
  --basic-dark: #565c66;
  --basic-extra-dark: #2d3440;
  --basic-extra-light: #fcfcfc;
  --basic-light: #e7e7e7;
  --basic-neutral: #b9b9b9;
  --basic-white: #ffffff;
  --font-inter: "Inter", "Arial", "Helvetica", sans-serif;
  --special-blue: #69a9ff;
  --special-bright: #ff4a78;
  --special-extra-bright: #ff2f64;
  --special-extra-light: #ffc8d8;
  --special-light: #feafc3;
  --special-neutral: #ff7799;
  --special-yellow: #fcc850;
  --status-error: #ea5454;
  --status-success: #00e484;
  --status-warning: #fd912e;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

body {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  font-family: var(--font-inter);
  color: var(--basic-extra-dark);

  background-color: var(--special-light);
}

::selection {
  color: var(--special-extra-bright);

  background-color: var(--basic-light);
}

img {
  max-width: 100%;
  height: auto;

  -o-object-fit: cover;
     object-fit: cover;
}

.visually-hidden {
  position: absolute;
  z-index: -1;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  border: 0;

  clip: rect(0 0 0 0);
}

.page-container {
  display: flex;
  flex-direction: column;
  width: 1170px;
  min-height: 100%;
  margin: 0 auto;
}

.list-reset {
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.button {
  display: inline-block;
  padding: 12px 32px;

  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  font-family: var(--font-inter);
  color: var(--basic-extra-dark);
  text-decoration: none;

  background-color: var(--basic-extra-light);
  border: none;
  border-radius: 26px;
  outline: 4px solid rgba(252, 252, 252, 0.4);
  box-shadow: 0 4px 12px 0 rgba(45, 52, 64, 0.1);
  cursor: pointer;
}

.button:hover {
  background-color: rgba(252, 252, 252, 0.4);
  outline: 4px solid var(--basic-extra-light);
  box-shadow: 0 4px 15px 0 rgba(133, 133, 133, 0.15);

  transition: background-color 0.3s;
}

.button:active {
  background: var(--basic-extra-light, #fcfcfc);
  outline: 2px solid var(--basic-extra-dark);
}

.button:focus-visible {
  background: var(--basic-extra-light-hover, rgba(252, 252, 252, 0.5));
  outline: 2px solid var(--basic-extra-dark);
}

.button:disabled,
.button-disabled {
  color: var(--basic-neutral);

  background-color: var(--basic-light);

  pointer-events: none;
}

.button-bright {
  color: var(--basic-extra-light);

  background-color: var(--special-extra-bright);
  outline: 4px solid rgba(255, 47, 100, 0.3);
  box-shadow: 0 4px 12px 0 rgba(45, 52, 64, 0.1);
}

.button-bright:hover {
  color: var(--basic-extra-dark);

  background-color: rgba(252, 252, 252, 0.3);
  outline: 4px solid var(--special-extra-bright);
}

.button-bright:active {
  color: var(--basic-extra-light);

  background-color: var(--special-light);
  outline: 2px solid var(--basic-extra-dark);
}

.button-bright:focus-visible {
  background-color: var(--special-extra-bright);
  outline: 2px solid var(--basic-extra-dark);
}

.button-bright:disabled,
.button-bright-disabled {
  background-color: var(--basic-neutral);
  outline: 4px solid rgba(185, 185, 185, 0.3);

  pointer-events: none;
}

.button-light {
  padding: 8px 32px;

  font-size: 14px;

  background-color: rgba(252, 252, 252, 0.3);
  border-radius: 20px;
  outline: 2px solid var(--basic-extra-light);
  outline-offset: -2px;
  box-shadow: none;
}

.button-light:hover {
  background-color: var(--basic-extra-light);
  outline: 2px solid rgba(252, 252, 252, 0.3);
}

.button-light:active {
  background-color: var(--basic-extra-light-hover);
  outline: var(--basic-extra-light-hover);
}

.button-light:focus-visible {
  background-color: rgba(252, 252, 252, 0.3);
  outline: 2px solid var(--basic-extra-dark);
}

.button-light:disabled,
.button-light-disabled {
  opacity: 0.4;

  pointer-events: none;
}

.menu-button {
  display: inline-block;
  padding: 6px 17px 6px 16px;

  background-color: rgba(252, 252, 252, 0.3);
  border-radius: 30px;
}

.menu-button:hover {
  background-color: rgba(252, 252, 252, 0.5);
}

.menu-button:focus-visible {
  background-color: rgba(252, 252, 252, 0.5);
  outline: 2px solid #000000;
  outline-offset: -2px;
}

.menu-button:active {
  background-color: var(--basic-extra-light);
}

.input {
  padding: 14px 16px;

  font-size: 16px;
  line-height: 20px;
  font-family: inherit;
  color: var(--basic-extra-dark);

  background-color: var(--basic-white);
  border: none;
  border-radius: 4px;
  outline: 1px solid var(--basic-neutral);
}

.input::placeholder {
  color: var(--basic-neutral);
}

.input:hover {
  outline-color: var(--basic-extra-dark);
}

.input:focus-visible {
  outline: 2px solid var(--basic-extra-dark);
  outline-offset: -1px;
}

.input:disabled {
  color: var(--basic-neutral);

  background-color: var(--basic-light);

  pointer-events: none;
}

.section-title {
  margin: 0;

  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
}

/* HEADER */
.header-navigation {
  display: flex;
  align-items: center;
  padding: 24px 0;
}

.header-logo {
  width: 137px;
  height: 56px;
  margin-right: 16px;
}

.header-navigation .navigation-list {
  display: flex;
  justify-content: space-between;
  margin-right: auto;
}

.navigation-link {
  display: block;
  padding: 8px 16px;

  font-size: 16px;
  line-height: 20px;
  color: var(--basic-extra-dark);
  text-decoration: none;
}

.navigation-item-catalog {
  position: relative;
}

.navigation-link-catalog {
  position: relative;

  padding-right: 39px;

  background-color: transparent;
  background-image: url("../images/arrow.svg");
  background-repeat: no-repeat;
  background-position: right 16px center;
  background-size: 16px;
}

.navigation-item-catalog:hover .navigation-link-catalog {
  color: var(--basic-extra-light);

  background-color: var(--special-bright);
  background-image: url("../images/arrow-hover.svg");
  background-position: right 16px top 11px;
}

.navigation-item-catalog:focus-within .navigation-link-catalog {
  color: var(--basic-extra-light);

  background-color: var(--special-bright);
  background-image: url("../images/arrow-hover.svg");
  background-position: right 16px top 11px;
}

.popover {
  z-index: 5;
}

.popover-catalog {
  position: absolute;
  top: 100%;

  display: none;
  padding-top: 10px;
}

.popover-catalog .popover-wrapper {
  width: 135px;
  padding: 8px 0;

  font-size: 14px;
  line-height: 20px;

  background-color: var(--basic-extra-light);
  border-radius: 4px;
  box-shadow: 0 8px 16px 0 rgba(45, 52, 64, 0.12);
}

.navigation-item-catalog:hover .popover-catalog,
.navigation-item-catalog:focus-within .popover-catalog {
  display: block;
}

.catalog-link {
  display: inline-block;
  width: 100%;
  padding: 6px 0 6px 16px;

  color: var(--basic-extra-dark);
  text-decoration: none;
}

.catalog-link-new {
  position: relative;

  padding: 8px 16px;

  font-weight: 700;
}

.catalog-link-new + span {
  display: block;
  width: 103px;
  height: 1px;
  margin: 4px auto;

  background-color: var(--basic-neutral);
}

.catalog-link:hover,
.catalog-link:focus-within {
  background-color: var(--special-extra-light);
  outline: none;
}

.catalog-link:active {
  background-color: var(--special-neutral);
}

.catalog-link-current {
  color: var(--basic-extra-light);

  background-color: var(--special-bright);
}

.navigation-link-delivery {
  background-color: transparent;
}

.navigation-link-about {
  background-color: transparent;
}

.navigation-contacts .navigation-link {
  font-style: normal;
  font-weight: 700;
}

.navigation-user-container {
  display: flex;
  align-items: center;
}

.navigation-user {
  display: flex;
  flex-wrap: wrap;

  gap: 16px;
}

.navigation-user .navigation-link {
  font-size: 14px;
}

.navigation-item-search {
  position: relative;
}

.navigation-link-search {
  padding: 16px;

  background-image: url("../images/search.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 16px;
}

.navigation-item-search:hover .navigation-link-search {
  color: var(--basic-extra-light);

  background-color: var(--special-bright);
  background-image: url("../images/search-hover.svg");
}

.navigation-item-search:focus-within .navigation-link-search {
  color: var(--basic-extra-light);

  background-color: var(--special-bright);
  background-image: url("../images/search-hover.svg");
}

.popover-search {
  position: absolute;
  top: 100%;
  right: 0;

  display: none;
  padding-top: 10px;
}

.popover-search .popover-wrapper {
  width: 356px;
  padding: 24px 16px;

  background-color: var(--basic-extra-light);
  border-radius: 4px;
}

.search-input {
  width: 100%;

  color: var(--basic-extra-dark);

  background-color: var(--basic-white);
  border: 1px solid var(--basic-neutral);
  border-radius: 4px;
}

.navigation-item-search:hover .popover-search,
.navigation-item-search:focus-within .popover-search {
  display: block;
}

.navigation-item-auth {
  position: relative;
}

.navigation-link-auth {
  padding: 6px 17px 6px 38px;

  background-image: url("../images/login.svg");
  background-repeat: no-repeat;
  background-position: left 16px center;
  background-size: 16px;
}

.navigation-item-auth:hover .navigation-link-auth {
  color: var(--basic-extra-light);

  background-color: var(--special-bright);
  background-image: url("../images/login-hover.svg");
}

.navigation-item-auth:focus-within .navigation-link-auth {
  color: var(--basic-extra-light);

  background-color: var(--special-bright);
  background-image: url("../images/login-hover.svg");
}

.popover-auth {
  position: absolute;
  top: 100%;
  right: 0;

  display: none;
  width: 420px;
  padding-top: 10px;
}

.popover-auth .popover-wrapper {
  padding: 48px 48px 52px 48px;

  background-color: var(--basic-extra-light);
  border-radius: 4px;
}

.popover-title {
  margin: 0;
  margin-bottom: 32px;
  padding: 0;

  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}

.auth-form-input {
  width: 100%;
  margin-bottom: 16px;
}

.auth-form-input[type="password"] {
  margin-bottom: 32px;
}

.form-options-wrapper {
  display: flex;
}

.auth-form-submit {
  margin-right: 23px;
}

.auth-link {
  font-size: 14px;
  line-height: 20px;
  color: var(--basic-extra-dark);
  text-decoration: none;

  border-bottom: 1px solid var(--basic-extra-dark);
}

.navigation-item-auth:hover .popover-auth,
.navigation-item-auth:focus-within .popover-auth {
  display: block;
}

.navigation-item-cart {
  position: relative;
}

.navigation-link-cart {
  padding: 6px 17px 6px 38px;

  background-image: url("../images/cart.svg");
  background-repeat: no-repeat;
  background-position: left 16px center;
  background-size: 16px;
}

.navigation-item-cart:hover .navigation-link-cart {
  color: var(--basic-extra-light);

  background-color: var(--special-bright);
  background-image: url("../images/cart-hover.svg");
}

.navigation-item-cart:focus-within .navigation-link-cart {
  color: var(--basic-extra-light);

  background-color: var(--special-bright);
  background-image: url("../images/cart-hover.svg");
}

.popover-cart {
  position: absolute;
  top: 100%;
  right: 0;

  display: none;
  padding-top: 10px;
}

.cart-full {
  width: 441px;
  padding: 48px;

  background-color: var(--basic-extra-light);
  border-radius: 4px;
}

.cart-list {
  position: relative;
}

.cart-list + .divider {
  display: block;
  width: 100%;
  height: 1px;
  margin: 32px auto;

  background-color: var(--basic-neutral);
}

.cart-item {
  display: flex;
  align-items: center;
  margin-bottom: 24px;
}

.cart-link {
  display: flex;
  margin-right: auto;

  color: var(--basic-extra-dark);
  text-decoration: none;
}

.cart-image {
  margin-right: 16px;

  border-radius: 50%;
}

.cart-product,
.cart-product-amount {
  display: block;
}

.cart-product {
  margin-bottom: 4px;

  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
}

.cart-product-amount {
  font-size: 14px;
  line-height: 20px;
  color: var(--basic-neutral);
}

.cart-product-button {
  width: 16px;
  height: 16px;
  margin-left: 48px;

  background-color: transparent;
  background-image: url("../images/cross.svg");
  border: none;
  cursor: pointer;
}

.cart-product-price {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
}

.cart-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart-result {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
}

.cart-empty {
  display: none;
  width: 288px;
  padding: 48px 0;

  background-color: var(--basic-extra-light);
  border-radius: 4px;
  box-shadow: 0 15px 40px 0 rgba(45, 52, 64, 0.12);
}

.cart-empty p {
  margin: 0;

  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
}

.navigation-item-cart:hover .popover-cart,
.navigation-item-cart:focus-within .popover-cart {
  display: block;
}

/* MAIN */
.main {
  flex-grow: 1;
}

/* SLIDER */
.slider {
  position: relative;

  margin-bottom: 80px;
  padding: 21px 0 0;
}

.slider-list {
  position: relative;

  display: flex;
  align-items: center;

  gap: 41px;
}

.slider-item {
  opacity: 0.4;
}

.slider-item-active {
  display: grid;
  align-items: center;
  margin-left: 70px;

  transform: scale(1);
  opacity: 1;

  gap: 5px;
  grid-template-columns: 470px 367px;
}

.slider-item-info {
  display: none;
}

.slider-item-active .slider-item-info {
  display: block;
}

.slider-item-active .slider-image {
  transform: scale(1);
}

.slider-title {
  margin-bottom: 24px;
  padding: 0;

  font-size: 36px;
}

.slider-description {
  margin: 0;
  margin-bottom: 48px;
  padding: 0;
}

.slider-image {
  position: relative;

  transform: scale(0.3);
}

.slider-image::before {
  content: "";
  position: absolute;
  top: 50%;
  z-index: -1;

  width: 312px;
  height: 312px;

  background-color: rgba(252, 252, 252, 0.37);
  border-radius: 100%;
  transform: translateY(-50%);
}

.slider-item:first-child .slider-image::before {
  width: 327px;
}

.slider-buttons {
  position: absolute;
  top: 50%;

  transform: translateY(-50%);
}

.slider-buttons .slider-button {
  padding: 19px;

  background-color: rgba(252, 252, 252, 0.3);
  background-image: url("../images/arrow-hover.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 16px;
  border: none;
  border-radius: 26px;
  outline: 2px solid var(--basic-extra-light);
  outline-offset: -2px;
  cursor: pointer;
}

.slider-buttons .slider-button:hover {
  background-color: var(--basic-extra-light);
}

.slider-buttons .slider-button:hover,
.slider-buttons .slider-button:focus-visible,
.slider-buttons .slider-button:active {
  background-image: url("../images/arrow.svg");
  transform: rotate(90deg);
}

.slider-buttons .slider-button:active {
  background-color: rgba(252, 252, 252, 0.5);
  outline: none;
}

.slider-buttons .slider-button:focus-visible {
  background-color: rgba(252, 252, 252, 0.5);
  outline: 2px solid var(--basic-extra-dark);
}

.slider-buttons .slider-button:disabled {
  opacity: 0.4;

  pointer-events: none;
}

.slider-button-prev {
  transform: rotate(-90deg);
}

.slider-button-next {
  transform: rotate(90deg);
}

.slider-buttons .slider-button-next:hover,
.slider-buttons .slider-button-next:focus-visible,
.slider-buttons .slider-button-next:active {
  transform: rotate(-90deg);
}

.bullets-socials-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bullets-list {
  display: flex;
  flex-wrap: wrap;

  gap: 8px;
}

.bullets-button {
  width: 12px;
  height: 12px;

  background-color: rgba(252, 252, 252, 0.3);
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.bullets-button:hover {
  outline: 1px solid var(--basic-extra-light);
  outline-offset: -1px;
}

.bullets-button:active {
  background-color: rgba(252, 252, 252, 0.5);
}

.bullets-button:focus-visible {
  outline: 1px solid var(--basic-extra-dark);
  outline-offset: -1px;
}

.bullets-button-current {
  background-color: rgba(252, 252, 252, 1);
}

.socials-list {
  display: flex;
  flex-wrap: wrap;

  gap: 16px;
}

.socials-link {
  position: relative;

  display: block;
  width: 24px;
  height: 24px;

  background-color: transparent;
  background-repeat: no-repeat;
  background-size: 24px;
  border-radius: 50%;
}

.socials-link:focus-visible {
  outline: 2px solid var(--basic-extra-dark);
  outline-offset: -2px;
}

.socials-link:active {
  opacity: 0.5;
}

.social-link-telegram {
  background-image: url("../images/socials/telegram.svg");
}

.social-link-telegram:hover,
.social-link-telegram:focus-visible {
  background-image: url("../images/socials/telegram.svg"),
    radial-gradient(
      circle,
      var(--basic-extra-dark) 40%,
      transparent 40%,
      transparent 100%
    );
}

.social-link-vk {
  background-image: url("../images/socials/vk.svg");
}

.social-link-vk:hover,
.social-link-vk:focus-visible {
  background-image: url("../images/socials/vk.svg"),
    radial-gradient(
      circle,
      var(--basic-extra-dark) 40%,
      transparent 40%,
      transparent 100%
    );
}

.social-link-youtube {
  background-image: url("../images/socials/youtube.svg");
}

.social-link-youtube:hover,
.social-link-youtube:focus-visible {
  background-image: url("../images/socials/youtube.svg"),
    radial-gradient(
      circle,
      var(--basic-extra-dark) 40%,
      transparent 40%,
      transparent 100%
    );
}

/* GIFTS */
.gifts {
  margin-bottom: 82px;
}

.gifts-title {
  max-width: 434px;
  margin: 0 auto 54px auto;

  text-align: center;
}

.gifts-list {
  display: flex;
  flex-wrap: wrap;

  gap: 30px;
}

.gifts-item {
  max-width: 570px;
  padding: 36px 200px 36px 36px;

  background-color: var(--special-neutral);
  background-repeat: no-repeat;
  background-position: bottom right;
  border-radius: 16px;
}

.gifts-item-raspberry {
  background-image: url("../images/gift/gift-1.png");
}

.gifts-item-marshmellow {
  background-image: url("../images/gift/gift-2.png");
}

.gift-title {
  margin: 0 0 28px 0;

  font-size: 24px;
  line-height: 30px;
}

.gift-description {
  margin: 0 0 28px 0;

  font-size: 16px;
  line-height: 22px;
}

/* POPULAR */
.popular {
  margin-bottom: 76px;
}

.popular-title {
  max-width: 527px;
  margin: 0 auto 55px auto;

  text-align: center;
}

.popular-list {
  display: flex;
  flex-wrap: wrap;

  gap: 40px 30px;
}

.product {
  position: relative;

  width: 270px;
  padding: 0 40px 28px 40px;

  text-align: center;
}

.product::before {
  content: "";
  position: absolute;
  top: 51px;
  left: 0;
  z-index: -1;

  width: 100%;
  height: 281px;

  background-color: var(--basic-extra-light);
  border-radius: 8px;
}

.product-link {
  position: relative;

  color: var(--basic-extra-dark);
  text-decoration: none;
}

.product-link:focus-visible {
  outline: none;
}

.product-link:focus-visible::before {
  content: "";
  position: absolute;
  top: -4px;
  right: -4px;
  bottom: -4px;
  left: -100%;

  border: 2px solid var(--special-extra-bright);
  border-radius: 8px;
}

.product-image {
  display: block;
  margin: 0 auto 16px auto;

  border-radius: 50%;
}

.product-image:hover {
  transform: scale(1.1);

  transition: transform 0.3s;
}

.product-title {
  margin: 0 0 9px 0;

  font-size: 20px;
  line-height: 24px;
}

.product-title:hover {
  opacity: 0.5;
}

.product-description {
  margin: 0 0 15px 0;

  font-size: 16px;
  line-height: 22px;
}

.price-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-price {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.product-button {
  display: block;
  width: 32px;
  height: 32px;

  background-color: var(--special-extra-bright);
  background-image: url("../images/cart-hover.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 16px;
  border-radius: 26px;
}

.product-button:hover {
  background-color: rgba(252, 252, 252, 0.3);
  background-image: url("../images/cart.svg");
  outline: 2px solid var(--special-extra-bright);
  outline-offset: -2px;

  transition: background-color 0.1s;
}

.product-button:active {
  background-color: var(--special-extra-light);
  background-image: url("../images/cart.svg");
  outline: 2px solid var(--special-extra-bright);
  outline-offset: -2px;
}

.product-button:focus-visible {
  outline: 2px solid var(--basic-extra-dark);
  outline-offset: -2px;
}

.product-button:disabled {
  background-color: var(--basic-neutral);
  background-image: url("../images/cart.svg");
  outline: none;

  pointer-events: none;
}

/* ABOUT */
.about {
  margin-bottom: 80px;
  padding: 24px;

  background-image: url("../images/waffle-border.png");
  background-repeat: repeat;
  background-size: 110px;
  border-radius: 16px;
}

.about-wrapper {
  padding: 56px 40px;

  background-color: var(--basic-white);
  border-radius: 16px;
}

.about-title {
  margin-bottom: 56px;

  text-align: center;
}

.about-list {
  display: flex;
  flex-wrap: wrap;

  gap: 40px 32px;
}

.about-item {
  position: relative;

  max-width: 505px;
  padding-left: 64px;
}

.about-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;

  width: 48px;
  height: 48px;

  background-repeat: no-repeat;
  background-position: center;
  background-size: 32px;
  border: 2px solid var(--basic-extra-dark);
  border-radius: 50%;
}

.about-item-icecream::before {
  background-image: url("../images/about-icecream.svg");
}

.about-item-cow::before {
  background-image: url("../images/about-cow.svg");
}

.about-item-thermometer::before {
  background-image: url("../images/about-thermometer.svg");
}

.about-item-leaf::before {
  background-image: url("../images/about-leaf.svg");
}

.about-description {
  max-width: 442px;
  margin: 0;

  font-size: 16px;
  line-height: 22px;
  color: var(--basic-dark);
}

/* BLOG AND SUBSCRIBE */
.blog-subscribe-container {
  display: flex;
  margin-bottom: 80px;

  gap: 30px;
}

.blog-preview {
  width: 570px;
  padding: 33px 235px 69px 32px;

  background-color: var(--basic-white);
  background-image: url("../images/blog-background.png");
  background-repeat: no-repeat;
  background-position: top -106px right -75px;
  background-size: 114%;
  border-radius: 16px;
}

.blog-category {
  margin: 0 0 12px 0;

  font-size: 16px;
  line-height: 20px;
  color: var(--basic-dark);
}

.blog-title {
  display: block;

  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: var(--basic-extra-dark);
  text-decoration: none;
}

.subscribe {
  width: 570px;
  padding: 6px;

  background-image: url("../images/subscribe-border.png");
  background-size: 59px 69px;
  border-radius: 16px;
}

.subscribe-wrapper {
  height: 100%;
  padding: 26px;

  background-color: var(--basic-white);
  border-radius: 16px;
}

.subscribe-description {
  margin: 0 0 44px 0;

  font-size: 16px;
  line-height: 22px;
}

.subscribe-form {
  display: flex;
  flex-wrap: wrap;
  width: 100%;

  gap: 18px;
}

.subscribe-input {
  width: 332px;
}

/* DELIVERY */
.delivery {
  display: flex;
  align-items: center;
  margin-bottom: 80px;
  padding: 64px 64px 64px 100px;

  background-color: rgb(249, 249, 249);
  background-image: url("../images/delivery-background.jpg");
  background-repeat: no-repeat;
  border-radius: 16px;

  gap: 60px 135px;
}

.delivery-text {
  max-width: 371px;
}

.delivery-title {
  margin-bottom: 24px;
}

.delivery-description {
  margin: 0;

  font-size: 16px;
  line-height: 22px;
  color: var(--basic-dark);
}

.delivery-form-wrapper {
  width: 500px;
  padding: 40px 40px 42px 40px;

  background-color: var(--basic-extra-light);
  border-radius: 8px;
  box-shadow: 0 15px 40px 0 rgba(45, 52, 64, 0.12);
}

.delivery-form-wrapper .delivery-description {
  margin-bottom: 32px;
}

.delivery-form {
  display: grid;

  gap: 20px 16px;
  grid-template-columns: repeat(3, 1fr);
}

.tooltip {
  position: absolute;
  top: -2px;
  right: 0;
}

.tooltip-toggle {
  width: 14px;
  height: 14px;

  background-color: transparent;
  background-image: url("../images/tooltip.svg");
  background-repeat: no-repeat;
  background-size: 14px;
  border: none;
}

.tooltip-toggle:focus-visible {
  outline: none;
}

.tooltip:hover .tooltip-text,
.tooltip-toggle:focus-visible + .tooltip-text {
  display: block;
}

.tooltip-text {
  position: absolute;
  top: -7px;
  left: 22px;
  z-index: 5;

  display: none;
  width: 170px;
  margin: 0;
  padding: 10px 8px 10px 8px;

  font-size: 12px;
  line-height: 16px;

  background-color: var(--basic-white);
  border: 1px solid var(--basic-neutral);
  border-radius: 2px;
}

.tooltip-text::after {
  content: "";
  position: absolute;
  top: 14px;
  left: -5px;

  width: 0;
  height: 0;

  border-width: 0 10px 10px 0;
  border-style: solid;
  border-color: transparent var(--basic-white) var(--basic-white) transparent;
  outline-width: 1px;
  outline-style: solid;
  outline-color: var(--basic-neutral);
  transform: rotate(-135deg);
}

.tooltip-text::before {
  content: "";
  position: absolute;
  top: 11px;
  left: 0;
  z-index: 2;

  width: 8px;
  height: 18px;

  background-color: var(--basic-white);
}

.delivery-date {
  grid-column: 1 / 2;
}

.delivery-phone {
  grid-column: span 2 / -1;
}

.delivery-address {
  grid-column: 1 / -1;
  grid-row: 2 / 3;
}

.tooltip-wrapper {
  position: relative;

  width: fit-content;
}

.delivery-label {
  display: block;
  width: fit-content;
  margin-bottom: 8px;
  padding-right: 20px;

  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}

.delivery-input {
  width: 100%;
}

.delivery-submit {
  margin-top: 12px;

  grid-column: 2 / 3;
}

/* CONTACTS */
.contacts {
  padding: 64px 763px 64px 64px;

  background-color: rgb(217, 173, 180);
  background-image: url("../images/contacts-background.jpg");
  background-repeat: no-repeat;
  background-position: top -83px right;
  background-size: 100%;
  border-radius: 16px;
}

.contacts-container {
  padding: 40px 40px 42px 40px;

  background-color: var(--basic-extra-light);
  border-radius: 8px;
  box-shadow: 0 8px 16px 0 rgba(45, 52, 64, 0.12);
}

.contacts-text {
  margin: 0 0 12px 0;

  font-size: 16px;
  line-height: 22px;
  color: var(--basic-dark);
}

.contacts address {
  font-style: normal;
}

.contacts-address {
  margin-bottom: 24px;

  font-weight: 700;
  font-size: 20px;
}

.contacts-phone {
  font-weight: 700;
  font-size: 20px;
}

.address-phone {
  color: var(--basic-extra-dark);
  text-decoration: none;
}

.contacts-hint {
  margin: 0 0 32px 0;

  font-size: 14px;
  line-height: 20px;
}

/* FOOTER */
.footer {
  display: flex;
  justify-content: space-between;
  padding: 48px 0;
}

.footer .navigation-list {
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  max-width: 356px;
  padding-left: 24px;

  gap: 8px 24px;
}

.footer .navigation-item:not(:last-child) {
  width: 126px;
}

.footer .navigation-link {
  display: block;
  padding: 0;

  font-size: 14px;
  line-height: 20px;
  color: var(--basic-extra-dark);
  text-decoration: none;
}

.navigation-link-provider {
  position: relative;

  font-weight: 700;
}

.navigation-link-provider::before {
  content: "";
  position: absolute;
  top: 2px;
  left: -24px;

  width: 16px;
  height: 16px;

  background-image: url("../images/heart.svg");
  background-repeat: no-repeat;
  background-size: 16px;
}

.htmlacademy-link {
  display: block;
  margin-bottom: 14px;
}

.htmlacademy-logo {
  display: block;
  width: 93px;
  height: 27px;
}

.htmlacademy-text {
  display: block;

  font-size: 12px;
  line-height: 16px;
}

.htmlacademy-text a {
  color: inherit;
  text-decoration: none;

  border-bottom: 1px solid rgba(45, 52, 64, 0.5);
}

/* CATALOG */
.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  margin-top: 29px;
  margin-bottom: 16px;
}

.breadcrumbs-link {
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: var(--basic-extra-dark);
  text-decoration: none;
}

.breadcrumbs-link-current {
  border-bottom: 1px solid var(--basic-extra-dark);
}

.breadcrumbs-item {
  position: relative;
}

.breadcrumbs-item:not(:last-child) {
  padding-right: 28px;
}

.breadcrumbs-item:not(:last-child)::before {
  content: "";
  position: absolute;
  top: 50%;
  right: 8px;

  width: 12px;
  height: 12px;

  background-image: url("../images/breadcrumbs-arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 12px;
  transform: translateY(-50%);
}

.catalog-page-title {
  margin-bottom: 39px;
}

/* FILTERS */
.filters {
  margin-bottom: 44px;
}

.filters-form {
  display: flex;
  flex-wrap: wrap;
  align-items: end;

  gap: 16px 0;
}

.filters-group {
  margin: 0 24px 0 0;
  padding: 0;

  border: none;
}

.filters-title {
  margin: 0 0 8px 0;
  padding-left: 16px;

  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.filters-select {
  min-width: 196px;
  padding: 8px 13px 8px 16px;

  font-size: 14px;
  line-height: 20px;
  font-family: inherit;

  background-color: rgba(252, 252, 252, 0.3);
  background-image: url("../images/arrow.svg");
  background-repeat: no-repeat;
  background-position: center right 13px;
  background-size: 16px;
  border: none;
  border-radius: 20px;
  cursor: pointer;

  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.filters-select:hover {
  background-color: rgba(252, 252, 252, 0.5);
}

.filters-select:focus-visible {
  background-color: rgba(252, 252, 252, 0.4);
  border-radius: 26px;
  outline: 2px solid var(--basic-extra-light);
  outline-offset: -2px;
}

.filters-label {
  font-size: 14px;
  line-height: 20px;
}

.range {
  padding: 17px 16px;

  background-color: rgba(252, 252, 252, 0.3);
  border-radius: 20px;
}

.range-container {
  position: relative;

  width: 164px;
  height: 2px;

  background-color: rgba(86, 92, 102, 0.3);
}

.range-base {
  position: absolute;
  left: 40px;

  width: 56px;
  height: 2px;

  background-color: var(--basic-dark);
}

.range-content {
  position: absolute;
  top: -17px;
}

.range-content-min {
  left: -16px;
}

.range-content-max {
  right: -16px;
}

.range-button {
  position: relative;

  width: 16px;
  height: 16px;

  background-color: var(--basic-extra-dark);
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.range-button::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 4px;
  height: 4px;

  background-color: var(--basic-extra-light);
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.range-button:hover {
  background-color: var(--basic-extra-light);
}

.range-button:hover::before {
  background-color: var(--basic-extra-dark);
}

.range-button:active {
  background-color: var(--basic-extra-dark);
}

.range-button:active::before {
  background-color: var(--basic-extra-dark);
}

.range-button:focus-visible {
  background-color: var(--basic-extra-light);
  outline: 2px solid var(--basic-extra-dark);
}

.range-button:focus-visible::before {
  background-color: var(--basic-extra-dark);
}

.radio-group {
  margin-right: 0;
}

.radio-group-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 8px 24px;

  font-size: 14px;
  line-height: 20px;

  background-color: rgba(252, 252, 252, 0.3);
  border-radius: 18px;

  gap: 17px;
}

.radio-group-container label {
  display: flex;
  align-items: center;

  cursor: pointer;

  gap: 8px;
}

.filters-input {
  margin: 0;

  background-color: transparent;
  cursor: pointer;

  appearance: none;
}

.filters-input[type="radio"] {
  position: relative;

  width: 16px;
  height: 16px;

  border: 2px solid var(--basic-extra-dark);
  border-radius: 50%;
}

.filters-input[type="radio"]:hover {
  border-color: var(--basic-extra-light);
}

.filters-input[type="radio"]:disabled {
  opacity: 0.5;

  pointer-events: none;
}

.filters-input[type="radio"]:disabled:hover {
  border-color: var(--basic-extra-dark);
}

.filters-input[type="radio"]:checked::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 6px;
  height: 6px;

  background-color: var(--basic-extra-dark);
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.filters-input[type="radio"]:checked:hover::before {
  background-color: var(--basic-extra-light);
}

.filters-input[type="radio"]:checked:disabled:hover::before {
  background-color: var(--basic-extra-dark);
}

.check-group {
  margin-right: 16px;
}

.check-group-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 10px 24px;

  font-size: 14px;
  line-height: 20px;

  background-color: rgba(252, 252, 252, 0.3);
  border-radius: 18px;

  gap: 17px;
}

.check-group-container label {
  display: flex;
  align-items: center;

  cursor: pointer;

  gap: 8px;
}

.filters-input[type="checkbox"] {
  width: 16px;
  height: 16px;

  border: 2px solid var(--basic-extra-dark);
  border-radius: 2px;
}

.filters-input[type="checkbox"]:hover {
  border-color: var(--basic-extra-light);
}

.filters-input[type="checkbox"]:disabled {
  opacity: 0.5;

  pointer-events: none;
}

.filters-input[type="checkbox"]:disabled:hover {
  border-color: var(--basic-extra-dark);
}

.filters-input[type="checkbox"]:checked:disabled:hover {
  background-image: url("../images/checkbox-on.svg");
}

.filters-input[type="checkbox"]:checked {
  background-image: url("../images/checkbox-on.svg");
  background-repeat: no-repeat;
  background-size: 16px;
  border: none;
}

.filters-input[type="checkbox"]:checked:hover {
  background-image: url("../images/checkbox-on-hover.svg");
}

.filters-submit {
  padding: 10px 54px;
}

/* CATALOG-PRODUCTS */
.catalog-products {
  margin-bottom: 12px;
}

.products-list {
  display: flex;
  flex-wrap: wrap;

  gap: 36px 30px;
}

/* PAGINATION */
.more-pagination-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
  padding: 41px 0;
}

.more-pagination-wrapper .more-pagination-hidden {
  display: block;
  width: 152px;
  height: 36px;
}

.more-button {
  justify-self: center;
}

.pagination {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  gap: 8px;
}

.pagination-button {
  width: 16px;
  height: 16px;

  background-image: url("../images/arrow.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 16px;
}

.pagination-button-prev {
  transform: rotate(90deg);
  opacity: 0.3;
}

.pagination-button-next {
  transform: rotate(-90deg);
}

.pagination-list {
  display: flex;
  flex-wrap: wrap;
}

.pagination-link {
  display: inline-block;
  width: 24px;
  padding: 2px 0;

  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: var(--basic-extra-dark);
  text-decoration: none;

  background-color: transparent;
  border-radius: 50%;
}

.pagination-link:hover {
  background-color: rgba(252, 252, 252, 0.3);
}

.pagination-link:active {
  background-color: rgba(252, 252, 252, 0.3);
  outline: 1px solid var(--basic-extra-light);
  outline-offset: -1px;
}

.pagination-link:focus-visible {
  background-color: rgba(252, 252, 252, 0.3);
  outline: 1px solid var(--basic-extra-dark);
  outline-offset: -1px;
}

.pagination-link-current {
  background-color: var(--basic-extra-light);
}

.pagination-link-current:hover {
  background-color: var(--basic-extra-light);
}

.pagination-link-current:active {
  background-color: var(--basic-extra-light);
  outline: none;
}

.pagination-link-current:focus-visible {
  background-color: var(--basic-extra-light);
}

.page-divider {
  display: block;
  width: 100%;
  height: 1px;

  background-color: rgba(252, 252, 252, 0.3);
}
